<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rethink_clicksmart_gripper">
    <xacro:macro name="rethink_clicksmart_gripper" params="side stp_device_name">
    <disable_collisions link1="${side}_l6" link2="${stp_device_name}_base" reason="Adjacent" />
    <disable_collisions link1="${side}_hand" link2="${stp_device_name}_base" reason="Adjacent" />
    <disable_collisions link1="${stp_device_name}_base" link2="${stp_device_name}_tip" reason="Adjacent" />
    <disable_collisions link1="${stp_device_name}_tip" link2="${side}_hand" reason="Adjacent" />
    <disable_collisions link1="${side}_l6" link2="${stp_device_name}_tip" reason="Adjacent" />
    </xacro:macro>
</robot>
